-content_for :header do
  .header 
.jumbotron
  %h1 No rum, no fun.
  %p Let's be very clear about who's bringing what!

  %i.checklist

  = link_to 'Make a poll', new_party_path, class: 'btn btn-primaty btn-large'
