/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.datepicker
 *= require icons
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";
@import 'baseline';

button::-moz-focus-inner {
  border: 0;
}

header {
  float: right;
  margin-top: 10px;

  background-image: inline-image('clipboard.png');
  background-repeat: no-repeat;
  background-position: left top;

  $image-height:    rhythm(3);
  $image-width:     rhythm(3);
  background-size:  $image-width $image-height;


  @include leader(1);
  @include trailer(1);

  a:active, a:link, a:visited, a:hover {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding-left: $image-width + 0.5em;
  }

  h1 {
    @include adjust-font-size-to(40px);
    @include rhythm(0,0,0,0);
  }

  .catchphrase {
    font-style: italic;
    color: #BDC3C7;
  }
}
