@import compass/typography
@import compass/layout
@import compass/css3

@import respond_to

$base-font-size: 16px
$base-line-height: 24px



.home
  font-size: $base-font-size
  line-height: $base-line-height

  &.index
    .jumbotron
      text-align: center
      +leader(2)
      +trailer(2)

      +respond(tablet)
        +leader(0)

      h1
        $font-size: 80px
        +adjust-font-size-to($font-size)
        +leader(0,$font-size)
        +trailer(1,$font-size)

        +respond(tablet)
          $font-size: 80px
          +adjust-font-size-to($font-size)
          +leader(0,$font-size)
          +trailer(0,$font-size)

        +respond(phone)
          $font-size: 70px
          +adjust-font-size-to($font-size)
          +leader(0,$font-size)
          +trailer(0,$font-size)
          

      p
        color: #BDC3C7
        $font-size: 50px
        +adjust-font-size-to($font-size)
        +leader(1,$font-size)
        +trailer(1,$font-size)

        +respond(phone)
          $font-size: 20px
          +adjust-font-size-to($font-size)
          +leader(0,$font-size)
          +trailer(1,$font-size)

        +respond(tablet)
          $font-size: 20px
          +adjust-font-size-to($font-size)
          +leader(0,$font-size)
          +trailer(1,$font-size)

      i.icon.checklist
        // Vertical rhythm without the top of the image
        $image-height:  108px
        $image-width:   108px
        height: $image-height
        width: $image-width
        background-size: $image-width $image-height

        margin-right: 10px
        vertical-align: bottom

        +respond(phone)
          $font-size: 20px
          +adjust-font-size-to($font-size)
          +leader(0,$font-size)
          +trailer(1,$font-size)
          display: block
          margin: auto

      a.btn
        $font-size: 40px
        +adjust-font-size-to($font-size)
        +rhythm(1,1,1,0,$font-size)

        background: #27AE60

        &:hover
          background: #2ECC71
