@import compass/typography
@import compass/layout
@import compass/css3

$base-font-size: 16px
$base-line-height: 24px

.home
  font-size: $base-font-size
  line-height: $base-line-height

  i.checklist
    display: inline-block
    background: image-url('clipboard.png') no-repeat left top

    // Vertical rhythm without the top of the image
    $image-height:  108px
    $image-width:   108px
    height: $image-height
    width: $image-width
    background-size: $image-width $image-height

    margin-right: 10px

  &.index

    .jumbotron
      text-align: center
      +leader(2)
      +trailer(2)

      h1
        $font-size: 80px
        +adjust-font-size-to($font-size)
        +leader(0,$font-size)
        +trailer(1,$font-size)

      p
        $font-size: 50px
        +adjust-font-size-to($font-size)
        +leader(1,$font-size)
        +trailer(1,$font-size)

      i.checklist
        margin-right: 10px
        vertical-align: bottom

      a.btn
        $font-size: 40px
        +adjust-font-size-to($font-size)
        +rhythm(1,1,1,0,$font-size)

        background: #27AE60

        &:hover
          background: #2ECC71

  &.pirate1
    background: #eadac0

    h3
      $font-size: 24px
      +adjust-font-size-to($font-size)
      +leader(1,$font-size)
      +trailer(1,$font-size)
     

    .jumbotron
      text-align: center
      +leader(1)
      +trailer(2)

      $image-scale:   2
      $image-height:  $image-scale * image-height('pirates.jpg')

      // Keep vertical rhythm
      $image-height:  floor($image-height / $base-line-height) * $base-line-height
      $image-width:   $image-height * image-width('pirates.jpg') / image-height('pirates.jpg')

      background:       inline-image('pirates.jpg') no-repeat right
      padding-right:    $image-width + 20px
      height:           $image-height
      background-size:  $image-width $image-height

      blockquote
        $font-size: 50px
        +adjust-font-size-to($font-size)
        +padding-leader(0,$font-size)
        +padding-trailer(1,$font-size)
        +trailer(1,$font-size)

        background: #f9f9f9
        border-left: none
        padding:
          left: 20px
          right: 20px
        quotes: "\201C""\201D""\2018""\2019"

        &:before
          color: #ccc
          content: open-quote
          font-size: 4em
          line-height: .1em
          margin-right: .25em
          vertical-align: -.4em

        p
          display:inline

      p
        $font-size: 50px
        +adjust-font-size-to($font-size)
        +leader(1,$font-size)
        +trailer(1,$font-size)

      i.checklist
        margin-right: 10px
        vertical-align: top

      a.btn
        $font-size: 40px
        +adjust-font-size-to($font-size)
        +rhythm(1,1,1,0,$font-size)
        vertical-align: top

        background: #27AE60

        &:hover
          background: #2ECC71

  @mixin rackham-theme($theme-color)
    background: $theme-color
    // +baseline-grid-background(1.5em,invert($theme-color))

    h3
      $font-size: 24px
      +adjust-font-size-to($font-size)
      +leader(1,$font-size)
      +trailer(1,$font-size)
     

    .jumbotron
      text-align: center
      +leader(1)
      +trailer(2)

      // Keep vertical rhythm
      $image-height:  10 * $base-line-height
      $image-width:   $image-height * image-width('rackham-#{$theme-color}.png') / image-height('rackham-#{$theme-color}.png')

      background:       inline-image('rackham-#{$theme-color}.png') no-repeat center top
      padding-top:      $image-height
      background-size:  $image-width $image-height

      h1
        $font-size: 80px
        +adjust-font-size-to($font-size)
        +leader(0,$font-size)
        +trailer(1,$font-size)

      p
        $font-size: 40px
        +adjust-font-size-to($font-size)
        +leader(1,$font-size)
        +trailer(1,$font-size)

      img.checklist
        margin-right: 10px
        vertical-align: top

      a.btn
        $font-size: 40px
        +adjust-font-size-to($font-size)
        +rhythm(1,1,1,0,$font-size)
        vertical-align: top

        background: #27AE60

        &:hover
          background: #2ECC71

  &.pirate2
    +rackham-theme(white)

  &.pirate3
    +rackham-theme(black)


  &.jack, &.without_pirate
    background: #2C3E50
    color: #ECF0F1
    //+baseline-grid-background

    .header
      background: image-url('jack-eyes-left.jpg') left top no-repeat
      +padding-trailer(4)
      background-size: auto 100% 

    h1
      $font-size: 80px
      +adjust-font-size-to($font-size)
      +leader(0,$font-size)
      +trailer(1,$font-size)

    p
      $font-size: 40px
      +adjust-font-size-to($font-size)
      +leader(1,$font-size)
      +trailer(1,$font-size)

    i.checklist
      margin-right: 10px
      vertical-align: top

    a.btn
      $font-size: 40px
      +adjust-font-size-to($font-size)
      +rhythm(1,1,1,0,$font-size)
      vertical-align: top
      
      background: #27AE60

      &:hover
        background: #2ECC71
