.participant {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #ddd;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}
.touriste {
  opacity: 0.5;
}
.selected {
  background-color: #dfd;
}
.add.participant {
  width: auto;
  padding-left: 4px;
  input {
    margin: 0;
    margin-top: -2px;
    padding: 0;
    height: 28px;
  }
}
