@import 'respond_to';

.fuelux-wizard .step-content .step-pane {
  display: none;
}

.fuelux-wizard .step-content .active {
  display: block;
}

.fuelux-wizard .form-inputs input, .fuelux-wizard .form-inputs textarea {
  width: 500px;
  
  @include respond(tablet, phone) {
    width: 50%;
  }
}

.fuelux-wizard .form-inputs textarea {
  @include respond(tablet, phone) {
    width: 100%;
  }
}


.fuelux-wizard .form-inputs .remove_fields {
  float: right;
  margin-right: 120px;
  margin-top: 10px;
}

.fuelux-wizard .items {
  padding-top: 30px;
}

.fuelux-wizard .links a {
  margin-left: 50px;
}

.fuelux-wizard .links .control-group {
  margin-bottom: -25px;
}

.fuelux-wizard .form-actions {
  margin: 20px -10px -10px -10px;
}

.fuelux-wizard .nested-fields.form-inputs .control-group {
  margin-bottom: 0px;
}

.fuelux-wizard .templates {
  
}
