.fuelux-wizard .header {
  background-color: #f9f9f9;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.fuelux-wizard .header:before,
.fuelux-wizard:after {
  display: table;
  line-height: 0;
  content: "";
}

.fuelux-wizard .header:after {
  clear: both;
}

.fuelux-wizard .header ul {
  padding: 0;
  margin: 0;
  list-style: none outside none;
}

.fuelux-wizard .header ul li {
  position: relative;
  float: left;
  height: 46px;
  padding: 0 20px 0 30px;
  margin: 0;
  font-size: 16px;
  line-height: 46px;
  color: #999999;
  cursor: default;
  background: #ededed;
}

.fuelux-wizard .header ul li .chevron {
  position: absolute;
  top: 0;
  right: -14px;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #d4d4d4;
}

.fuelux-wizard .header ul li .chevron:before {
  position: absolute;
  top: -24px;
  right: 1px;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #ededed;
  content: "";
}

.fuelux-wizard .header ul li.complete {
  color: #468847;
  background: #f3f4f5;
}

.fuelux-wizard .header ul li.complete:hover {
  cursor: pointer;
  background: #e7eff8;
}

.fuelux-wizard .header ul li.complete:hover .chevron:before {
  border-left: 14px solid #e7eff8;
}

.fuelux-wizard .header ul li.complete .chevron:before {
  border-left: 14px solid #f3f4f5;
}

.fuelux-wizard .header ul li.active {
  color: #3a87ad;
  background: #f1f6fc;
}

.fuelux-wizard .header ul li.active .chevron:before {
  border-left: 14px solid #f1f6fc;
}

.fuelux-wizard .header ul li .badge {
  margin-right: 8px;
}

.fuelux-wizard .header ul li:nth-child(1) {
  z-index: 10;
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
}

.fuelux-wizard .header ul li:nth-child(2) {
  z-index: 9;
}

.fuelux-wizard .header ul li:nth-child(3) {
  z-index: 8;
}

.fuelux-wizard .header ul li:nth-child(4) {
  z-index: 7;
}

.fuelux-wizard .header ul li:nth-child(5) {
  z-index: 6;
}

.fuelux-wizard .header ul li:nth-child(6) {
  z-index: 5;
}

.fuelux-wizard .header ul li:nth-child(7) {
  z-index: 4;
}

.fuelux-wizard .header ul li:nth-child(8) {
  z-index: 3;
}

.fuelux-wizard .header ul li:nth-child(9) {
  z-index: 2;
}

.fuelux-wizard .header ul li:nth-child(10) {
  z-index: 1;
}

.fuelux-wizard .header .actions {
  float: right;
  padding-right: 15px;
  line-height: 44px;
  vertical-align: middle;
}

.fuelux-wizard .header .actions a {
  margin-right: 8px;
  font-size: 12px;
  line-height: 45px;
}

.fuelux-wizard .header .actions .btn-prev i {
  margin-right: 5px;
}

.fuelux-wizard .header .actions .btn-next i {
  margin-left: 5px;
}

.fuelux-wizard .step-content {
  border: 1px solid #D4D4D4;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.fuelux-wizard .step-content .step-pane {
  display: none;
}

.fuelux-wizard .step-content .active {
  display: block;
}

.fuelux-wizard .form-inputs input, .fuelux-wizard .form-inputs textarea {
  width: 500px;
}

.fuelux-wizard .form-inputs .remove_fields {
  float: right;
  margin-right: 120px;
  margin-top: 10px;
}

.fuelux-wizard .links a {
  margin-left: 200px;
}

.fuelux-wizard .links .control-group {
  margin-bottom: -30px;
}

.fuelux-wizard .form-actions {
  margin: 20px -10px -10px -10px;
}
