-content_for :content do
  %header.pull-right
    =link_to root_path do
      %h1 ibring.me
      .catchphrase Shared grocery lists for events
  .clearfix
  =yield

=render template: 'layouts/application'
